<link rel="stylesheet" type="text/text/css" href="/stylesheets/articles.scss">
<div class="container">
  <div class="content">
      <h1 class="header">Listing Articles</h1>
      <h5>Welcome! We have great new articles for you to read today!</h5>
      <p>Check out my blogs below.</p>
      <div class="articlestable">
        <table>
          <tr>
            <th>Title</th>
            <th>Text</th>
            <th></th>
          </tr>
          <% @articles.each do |article| %>
          <tr>
            <td><strong><%= link_to article.title, article_path(article) %></strong></td>
            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100px;"><%= article.text %></td>
            <td><%= link_to 'Delete', article_path(article.id), method: :delete%></td>
          </tr>
          <% end %>
        </table>
        <%= paginate @articles %>

      </div>

      <p><strong>Do you want to create your own article? </strong>
      <%= link_to 'Create New Article', new_article_path %></p>
  </div>
</div>
