<link rel="stylesheet" href="/stylesheets/articles.scss">
<div class="jumbotron text-center" style="background-color:black;color:white;">
    <h1><%= @article.title %></h1>
</div>

<div class="container" style="margin:50px;">
  <p style="color:grey">
    <%= @article.created_at.to_formatted_s(:long)%> |
    <%= link_to 'Edit Article', edit_article_path(@article) %> |
    <%= link_to 'List of Articles', articles_path %>
  </p>
  <p style="text-align: justify;"><%= simple_format(@article.text) %></p>
  <br>
  <hr>
  <%= render 'comments/comment' %>
  <hr>
  <%= render 'comments/form' %>
</div>

<div class="jumbotron bg-dark" style="margin-bottom:0;color:white;">
  <p>Go to...</p>
  <p><%= link_to 'Edit Article', edit_article_path(@article) %></p>
  <p><%= link_to 'See All Articles', articles_path %></p>
</div>
