<link rel="stylesheet" href="/stylesheets/articles.scss">
<div class="container">
  <div class="content">
    <h1><%= @article.title %></h1>
    <p style="text-align: justify;"><%= @article.text %></p>

    <%= link_to 'Edit Article', edit_article_path(@article) %>
    <br><br>

    <%= render 'comments/comment' %>
    <br>

    <%= render 'comments/form' %>
    <br>

    <%= link_to 'Back', articles_path %>
  </div>
</div>
